*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(../myApp/images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}
button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: blue;
    /* border: none; */
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    background: transparent;
}

form h1{
    margin-bottom: 30px;
    color: white;
}

::placeholder{
    color: white;
}
button:hover{
    background-color: blue;
}
.heading{
    margin-top: 150px;
}